<p id="notice"><%= notice %></p>

<h1>Listing Repositories</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= repository.is_target_to_s %></td>
        <td><%= repository.name %> (<%= link_to 'Go to github', repository.html_url, target: '_blank' %>)</td>
        <td><%= switcher repository %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sync Repository', sync_repositories_path, method: :post %> | 
<%= link_to 'Back', home_index_path %>