<p id="notice"><%= notice %></p>

<%= link_to 'Sync Repository', sync_repositories_path, method: :post %> | 
<%= link_to 'Back', home_index_path %>
<br>

<h1>Listing Repositories</h1>

<% unless @has_enabled_repositories %>
<h3>Please turn on reporting of repositories what you want!</h3>
<% end %>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= repository.is_target_to_s %></td>
        <td><%= repository.full_name %> (<%= link_to 'Go to github', repository.html_url, target: '_blank' %>)</td>
        <td><%= switcher repository %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
